* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  line-height: 1.2;
  font-family: 'Montserrat', sans-serif;
}

html body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-size: 16px;
  overflow-x: hidden;
  background: #ffffff;
  color: #4c5365;
}

body h1,
body h2,
body h3,
body h4,
body h5,
body h6 {
  line-height: 1.2;
}

.row:after,
.row:before {
  display: inline-block !important;
}

body a {
  cursor: pointer;
}

body a:hover,
body a:focus {
  text-decoration: none;
}

input[type="submit"] {
  cursor: pointer;
}

button,
input,
textarea,
button:focus {
  outline: none;
}

p {
  font-size: 1em;
}

img {
  max-width: 100%;
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

body.open-menu {
  overflow: hidden;
}

.uppercase {
  text-transform: uppercase;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.row.no-flex {
  display: block;
}

.row.flex {
  -webkit-box-align: initial;
  -ms-flex-align: initial;
  align-items: initial;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.row.flex.flex-center {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.row.flex .col-xs-12 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

/*wrapper*/

body header {
  position: fixed;
  background: transparent;
  padding: 30px 0;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 9;
  border-bottom: 1px solid rgba(255, 255, 255, 0.25);
  -webkit-transition: 0.3s linear;
  -o-transition: 0.3s linear;
  transition: 0.3s linear;
}

body header .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

body header .wrap__logo {
  display: block;
  position: relative;
  z-index: 1000;
}

body header .wrap__logo img {
  -webkit-transition: 0.2s linear;
  -o-transition: 0.2s linear;
  transition: 0.2s linear;
  height: 60px;
}

body header .wrap__menu {
  text-align: right;
}

body header .wrap__menu.active {
  left: 0;
}

body header .wrap__menu .menu li {
  display: inline-block;
  margin-left: 50px;
}

body header .wrap__menu .menu li a {
  font-size: 1.125em;
  text-transform: uppercase;
  padding: 10px 0;
  display: block;
  background: transparent;
  color: white;
  font-weight: bold;
  position: relative;
}

body header .wrap__menu .menu li a:hover,
body header .wrap__menu .menu li a:focus {
  background: transparent;
}

body header .wrap__menu .menu li a:before {
  display: block;
  position: absolute;
  content: "";
  background: #ffffff;
  width: 0;
  height: 4px;
  -webkit-transition: 0.3s linear;
  -o-transition: 0.3s linear;
  transition: 0.3s linear;
  left: 0;
  bottom: -40px;
}

body header .wrap__menu .menu li.active a:before {
  width: 100%;
}

body header .wrap__burger {
  display: none;
  z-index: 1000;
}

body header .burger {
  display: inline-block;
  width: 50px;
  height: 50px;
  padding: 12px 10px;
  position: relative;
  cursor: pointer;
  z-index: 100;
}

body header .burger span {
  width: 100%;
  height: 3px;
  background: #ffffff;
  display: block;
  margin: 4px auto;
  -webkit-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  transition: 0.3s ease;
}

body header.active .burger {
  padding-top: 18px;
}

body header.active .burger span:first-child {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

body header.active .burger span:nth-child(2) {
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
}

body header.active .burger span:last-child {
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
  margin-top: -13px;
}

body header.fixed {
  position: fixed;
  padding: 15px 0;
  background: rgba(0, 0, 0, 0.65);
  -webkit-box-shadow: 0 8px 16px 0 rgba(37, 52, 75, 0.26);
  box-shadow: 0 8px 16px 0 rgba(37, 52, 75, 0.26);
}

body header.fixed .wrap__logo img {
  width: auto;
  height: 50px;
}

body header.fixed .wrap__menu .menu li a:before {
  bottom: -20px;
}

.banner .container {
  position: relative;
  height: 100vh;
}

.banner .banner__inner {
  position: absolute;
  left: 15px;
  width: 100%;
  top: calc(50% - 50px);
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  color: white;
}

.banner .banner__inner h1 {
  font-size: 2.8125em;
  font-weight: bold;
  max-width: 50%;
  margin: 0 0 52px;
  padding-bottom: 22px;
  position: relative;
}

.banner .banner__inner h1:after {
  display: inline-block;
  border-radius: 4px;
  background-color: #2574f6;
  position: absolute;
  height: 7px;
  width: 150px;
  content: "";
  left: 0;
  bottom: 0;
}

.banner .banner__inner p {
  max-width: 51%;
  font-size: 1.4em;
}

/*looking*/

.looking {
  background: #e8eaed;
}

.looking .looking__inner {
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  border-radius: 15px;
  background-color: white;
  padding: 18px;
  margin-bottom: -105px;
}

.looking .looking__inner .row {
  margin-left: -9px;
  margin-right: -9px;
}

.looking .looking__inner .row .col-xs-12 {
  padding-left: 9px;
  padding-right: 9px;
}

.looking .looking__inner .looking__item {
  border-radius: 7px;
  padding: 75px 50px 85px;
  color: white;
  width: 100%;
  background: #2574f6;
}

.looking .looking__inner .looking__item.l-2 {
  background: #4c5365;
}

.looking .looking__inner .looking__item.l-2 .btn__looking {
  color: #4c5365;
}

.looking .looking__inner .looking__item.l-2 .btn__looking:hover,
.looking .looking__inner .looking__item.l-2 .btn__looking:focus {
  background: #4c5365;
}

.looking .looking__inner .looking__item h3 {
  font-size: 2.25em;
  font-weight: bold;
  margin: 0 0 20px;
}

.looking .looking__inner .looking__item p {
  max-width: 430px;
  margin: 0 auto 37px;
  font-size: 1.25em;
  font-weight: 500;
}

.looking .looking__inner .looking__item .btn__looking {
  display: inline-block;
  background: white;
  border-radius: 35px;
  padding: 21px 51px;
  font-size: 1.125em;
  font-weight: bold;
  color: #2574f6;
  border: 1px solid white;
  -webkit-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  transition: 0.3s ease;
}

.looking .looking__inner .looking__item .btn__looking:hover,
.looking .looking__inner .looking__item .btn__looking:focus {
  color: white;
  background: #2574f6;
}

.section__title {
  font-size: 2.8125em;
  margin: 0 0 35px;
  font-weight: 900;
}

/*offer*/

.offer {
  padding: 0 0 128px;
}

.offer .offer__waves {
  margin: 0 auto 115px;
  max-width: 415px;
  display: block;
}

.offer .offer__item {
  background: white;
  border-radius: 15px;
  padding: 85px 65px 80px 80px;
  margin: 0 0 21px;
}

.offer .offer__item .section__title {
  color: #2574f6;
  margin: 0 0 20px;
}

.offer .offer__item p {
  font-size: 1.1875em;
  font-weight: bold;
  margin: 0;
}

/*people*/

.people {
  padding: 120px 0 140px;
}

.people .section__title {
  color: #ffffff;
  margin: 0;
}

.people .people__item {
  width: 100%;
  background: #ffffff;
  border-radius: 15px;
  padding: 155px 52px 60px;
  position: relative;
  margin-top: 225px;
}

.people .people__item .people__item__img {
  position: absolute;
  left: 50%;
  top: 0;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 225px;
  height: 225px;
  border-radius: 50%;
  border: 7px solid #ffffff;
}

.people .people__item .people__item__name {
  margin: 0 0 36px;
  font-weight: 900;
  font-size: 1.875em;
  color: #2574f6;
}

.people .people__item p {
  text-align: justify;
  margin: 0;
  line-height: 1.5;
  font-weight: 600;
  font-size: 1.125em;
}

/*partners*/

.partners {
  padding: 90px 0;
}

.partners .container {
  position: relative;
}

.partners .partners__title {
  font-size: 2.25em;
  font-weight: 900;
  margin: 0 0 85px;
}

.partners .partners__carousel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.partners .partners__carousel .carousel__item {
  border-radius: 10px;
  background-color: #f6f8fa;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 150px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.partners .partners__carousel .carousel__item img {
  max-height: 75px;
  width: 100%;
  max-width: 170px;
}

/*OWL*/

.owl-item {
  display: inline-block !important;
  vertical-align: top;
  padding: 0 10px;
}

.owl-loaded.owl-drag {
  overflow: hidden;
}

.owl-prev,
.owl-next {
  font-size: 0;
  width: 67px;
  height: 48px;
  background: url(../img/arr__carousel.svg) no-repeat left 25px center;
  background-size: 12px 18px;
  cursor: pointer;
  position: absolute;
  top: 0;
  border-radius: 30px;
  border: 1px solid #e8eaed;
  -webkit-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  transition: 0.3s ease;
}

.owl-prev {
  left: 0;
}

.owl-next {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
  right: 0;
}

.owl-nav {
  position: absolute;
  top: -2px;
  height: 48px;
  width: 450px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}

/*contact*/

.contact {
  position: relative;
  padding-top: 200px;
  padding-bottom: 450px;
}

.contact .contact__title {
  font-size: 2.25em;
  font-weight: 900;
  margin: 0 0 36px;
}

.contact p {
  font-size: 1.4em;
  font-weight: 600;
  margin: 0 auto 110px;
  max-width: 80%;
}

.contact .btn__contact__us {
  display: inline-block;
  color: #ffffff;
  border-radius: 35px;
  padding: 21px 51px;
  font-size: 1.125em;
  font-weight: bold;
  background: #2574f6;
  border: 1px solid #2574f6;
  -webkit-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  transition: 0.3s ease;
}

.contact .btn__contact__us:hover,
.contact .btn__contact__us:focus {
  color: #2574f6;
  background: #ffffff;
}

.contact footer {
  position: absolute;
  left: 0;
  width: 100%;
  bottom: 0;
  padding: 0 0 60px;
  color: white;
}

.contact footer .footer__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 100%;
}

.contact footer .contact__list {
  list-style-type: none;
  padding: 0;
  display: inline-block;
  margin: 0;
}

.contact footer .contact__list li {
  display: inline-block;
  font-size: 1.4em;
  font-weight: bold;
  position: relative;
  margin-right: 45px;
}

.contact footer .contact__list li:before {
  display: block;
  border-radius: 50%;
  position: absolute;
  content: "";
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  right: -28px;
  width: 5px;
  height: 5px;
  background: white;
}

.contact footer .contact__list li:last-child:before {
  display: none;
}

.contact footer .contact__list li a {
  color: inherit;
}

.contact footer .footer__privacy {
  display: inline-block;
  font-size: 1.4em;
  font-weight: bold;
  color: inherit;
}

/*modal*/

body .modal .modal-dialog {
  width: 95%;
  max-width: 720px;
}

body .modal .modal-dialog .modal-content {
  background: #2574f6;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-radius: 15px;
}

body .modal .modal-dialog .modal-header {
  border: 0;
  padding: 35px 40px;
  width: 100%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

body .modal .modal-dialog .modal-header .modal-title {
  width: 100%;
  font-size: 1.4em;
  color: white;
  font-weight: bold;
  text-transform: uppercase;
}

body .modal .modal-dialog .modal-header .close {
  text-shadow: none;
  float: none;
  margin: 0;
  font-size: 3em;
  font-weight: 400;
  line-height: 0.5;
}

body .modal .modal-dialog .modal-body {
  border-radius: 15px;
  background: white;
  padding: 30px 27px 48px;
}

body .modal .modal-dialog .modal-body label {
  display: block;
  width: 100%;
  font-size: 1em;
  margin: 0 0 5px;
  color: #8c92a1;
  font-weight: 500;
}

body .modal .modal-dialog .modal-body input,
body .modal .modal-dialog .modal-body textarea,
body .modal .modal-dialog .modal-body select,
body .modal .modal-dialog .modal-body .nice-select {
  display: block;
  width: 100%;
  margin: 0 0 22px;
  border-radius: 10px;
  background-color: #e8eaed;
  border: 0;
  padding: 24px 26px;
  font-size: 1.25em;
  color: #4c5365;
  font-weight: 500;
}

body .modal .modal-dialog .modal-body input::-webkit-input-placeholder,
body .modal .modal-dialog .modal-body textarea::-webkit-input-placeholder,
body .modal .modal-dialog .modal-body select::-webkit-input-placeholder,
body .modal .modal-dialog .modal-body .nice-select::-webkit-input-placeholder {
  color: #4c5365;
}

body .modal .modal-dialog .modal-body textarea {
  min-height: 150px;
  resize: vertical;
  margin: 0 0 32px;
}

body .modal .modal-dialog .modal-body .nice-select {
  height: auto;
  line-height: inherit;
}

body .modal .modal-dialog .modal-body .nice-select:after {
  background: url(../img/arr__carousel.svg) no-repeat center;
  background-size: 10px;
  margin: 0;
  top: 50%;
  -webkit-transform: translateY(-50%) rotate(-90deg);
  -ms-transform: translateY(-50%) rotate(-90deg);
  transform: translateY(-50%) rotate(-90deg);
  right: 24px;
  width: 18px;
  height: 18px;
  border: 0;
  -webkit-transform-origin: 50%;
  -ms-transform-origin: 50%;
  transform-origin: 50%;
}

body .modal .modal-dialog .modal-body .nice-select .list {
  width: 100%;
}

body .modal .modal-dialog .modal-body .nice-select .list .option {
  padding: 10px 24px;
}

body .modal .modal-dialog .modal-body input[type="submit"] {
  display: inline-block;
  width: auto;
  color: #ffffff;
  border-radius: 35px;
  padding: 21px 51px;
  font-size: 1.125em;
  font-weight: bold;
  background: #2574f6;
  border: 1px solid #2574f6;
  -webkit-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  transition: 0.3s ease;
  text-transform: uppercase;
  margin: 44px auto 0;
}

body .modal .modal-dialog .modal-body input[type="submit"]:hover,
body .modal .modal-dialog .modal-body input[type="submit"]:focus {
  color: #2574f6;
  background: #ffffff;
}

body .modal .modal-dialog .modal-body input[type="file"] {
  display: none;
}

body .modal .modal-dialog .modal-body .wrap__attachment label {
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  background-color: #e8eaed;
  border-radius: 35px;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

body .modal .modal-dialog .modal-body .wrap__attachment .add__attachment {
  border: 1px solid #dfe0e3;
  background: white;
}

body .modal .modal-dialog .modal-body .wrap__attachment .upload__file,
body .modal .modal-dialog .modal-body .wrap__attachment .add__attachment {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  height: 52px;
  border-radius: 35px;
  font-size: 0.875em;
  color: #515151;
  font-weight: bold;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  cursor: pointer;
  padding: 5px 24px;
}

@media only screen and (min-width: 768px) {
  html body .container {
    width: 100%;
  }
}

@media only screen and (min-width: 991px) {
  html body .container {
    width: 880px;
  }
}

@media only screen and (min-width: 1200px) {
  html body .container {
    width: 1020px;
  }
}

@media only screen and (min-width: 1440px) {
  html body .container {
    width: 1230px;
  }
}

@media only screen and (min-width: 1680px) {
  html body .container {
    width: 1630px;
  }
}

@media only screen and (max-width: 1680px) {
  html body {
    font-size: 14px;
  }

  body header {
    padding: 22px 0;
  }

  body header .wrap__menu .menu li {
    margin-left: 38px;
  }

  body header .wrap__menu .menu li a:before {
    bottom: -34px;
  }

  body header.fixed .wrap__menu .menu li a:before {
    bottom: -22px;
  }

  .banner .banner__inner h1 {
    max-width: 60%;
    margin-bottom: 45px;
  }

  .banner .banner__inner h1:after {
    height: 5px;
  }

  .looking .looking__inner {
    margin-bottom: -95px;
  }

  .looking .looking__inner .looking__item {
    padding: 55px 36px 50px;
  }

  .looking .looking__inner .looking__item .btn__looking {
    padding: 18px 40px;
  }

  .offer {
    padding: 0 0 96px;
  }

  .offer .offer__waves {
    margin: 0 auto 86px;
    max-width: 365px;
  }

  .offer .offer__item {
    padding: 60px 48px 60px 60px;
  }

  .people {
    padding: 100px 0 110px;
  }

  .people .people__item {
    padding: 115px 39px 45px;
    margin-top: 185px;
  }

  .people .people__item .people__item__img {
    width: 170px;
    height: 170px;
  }

  .partners {
    padding: 70px 0;
  }

  .partners .partners__carousel .carousel__item {
    height: 130px;
  }

  .owl-prev,
  .owl-next {
    width: 60px;
    height: 42px;
    background-size: 10px 14px;
    background-position: left 24px center;
  }

  .contact {
    padding: 160px 0 340px;
  }

  .contact .btn__contact__us {
    padding: 18px 40px;
  }

  .contact footer {
    padding: 0 0 50px;
  }

  .contact footer .contact__list li {
    font-size: 1.25em;
    margin-right: 35px;
  }

  .contact footer .contact__list li:before {
    right: -23px;
  }

  .contact footer .footer__privacy {
    font-size: 1.25em;
  }

  body .modal .modal-dialog .modal-header {
    padding: 30px 35px;
  }

  body .modal .modal-dialog .modal-body input,
  body .modal .modal-dialog .modal-body textarea,
  body .modal .modal-dialog .modal-body select,
  body .modal .modal-dialog .modal-body .nice-select {
    padding: 18px 22px;
  }
}

@media only screen and (max-width: 1680px) and (max-width: 1439px) {
  .contact footer .contact__list li {
    font-size: 1.125em;
    margin-right: 30px;
  }
}

@media only screen and (max-width: 1680px) and (max-width: 1199px) {
  .contact footer .contact__list li {
    font-size: 1em;
  }
}

@media only screen and (max-width: 1680px) and (max-width: 991px) {
  .contact footer .contact__list li {
    display: block;
    width: 100%;
    margin: 0 auto 15px;
    font-size: 1.25em;
  }
}

@media only screen and (max-width: 1439px) {
  body header {
    padding: 15px 0;
  }

  body header .wrap__menu .menu li {
    margin-left: 26px;
  }

  body header .wrap__menu .menu li a:before {
    bottom: -26px;
  }

  .banner .banner__inner h1 {
    max-width: 70%;
  }

  .banner .banner__inner p {
    max-width: 70%;
  }

  .offer .offer__waves {
    margin: 0 auto 60px;
  }

  .offer .offer__item {
    padding: 40px 35px 45px 45px;
  }

  .offer .offer__item .section__title {
    font-size: 2.5em;
  }

  .people {
    padding: 70px 0 80px;
  }

  .people .people__item {
    padding: 110px 25px 35px;
    margin-top: 150px;
  }

  .people .people__item .people__item__name {
    margin: 0 0 25px;
    font-size: 1.5em;
  }

  .partners .partners__title {
    margin: 0 0 60px;
  }

  .contact {
    padding: 120px 0 280px;
  }

  .contact p {
    max-width: 90%;
    margin: 0 auto 80px;
    font-size: 1.25em;
  }

  .contact footer .contact__list li:before {
    width: 4px;
    height: 4px;
    right: -20px;
  }

  .contact footer .footer__privacy {
    font-size: 1.125em;
  }
}

@media only screen and (max-width: 1199px) {
  body header .wrap__menu .menu li {
    margin-left: 18px;
  }

  .banner .banner__inner h1 {
    max-width: 95%;
  }

  .banner .banner__inner p {
    max-width: 85%;
  }

  .looking .looking__inner {
    margin-bottom: -120px;
  }

  .section__title {
    font-size: 2.5em;
  }

  .offer {
    padding: 0 0 65px;
  }

  .offer .offer__waves {
    max-width: 320px;
  }

  .offer .offer__item {
    padding: 30px;
  }

  .offer .offer__item .section__title {
    font-size: 2em;
    margin: 0 0 15px;
  }

  .people .people__item {
    margin-top: 130px;
  }

  .contact {
    padding: 100px 0 220px;
  }

  .contact footer .footer__privacy {
    font-size: 1em;
  }

  body .modal .modal-dialog .modal-header {
    padding: 20px 25px;
  }

  body .modal .modal-dialog .modal-body {
    padding: 20px 25px 30px;
  }

  body .modal .modal-dialog .modal-body input,
  body .modal .modal-dialog .modal-body textarea,
  body .modal .modal-dialog .modal-body select,
  body .modal .modal-dialog .modal-body .nice-select {
    padding: 16px 18px;
    margin-bottom: 18px;
  }

  body .modal .modal-dialog .modal-body input[type="submit"] {
    margin: 30px 0 0;
  }
}

@media only screen and (max-width: 991px) {
  body header .wrap__menu {
    position: fixed;
    left: -100%;
    top: 0;
    background: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 100vh;
    -webkit-transition: 0.3s ease;
    -o-transition: 0.3s ease;
    transition: 0.3s ease;
    z-index: 999;
    text-align: center;
    padding-top: 120px;
  }

  body header .wrap__menu .menu {
    height: calc(100vh - 150px);
    overflow-y: auto;
  }

  body header .wrap__menu .menu li {
    display: block;
    text-align: center;
    margin-left: 0;
  }

  body header .wrap__menu .menu li a {
    font-size: 1.5em;
    padding: 15px 10px;
  }

  body header .wrap__menu .menu li a:before {
    bottom: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    height: 3px;
  }

  body header .wrap__menu .menu li.active a:before {
    width: 100px;
  }

  body header .wrap__burger {
    display: block;
    text-align: right;
  }

  body header.fixed .wrap__menu .menu li a:before {
    bottom: 0;
  }

  .looking .looking__inner {
    -webkit-transform: translate(0);
    -ms-transform: translate(0);
    transform: translate(0);
    margin: -120px auto 50px;
    padding: 10px;
  }

  .looking .looking__inner .looking__item {
    padding: 65px 35px 60px;
    margin-bottom: 10px;
  }

  .contact .contact__title {
    margin: 0 0 25px;
    font-size: 2em;
  }

  .contact p {
    max-width: 94%;
    margin: 0 auto 60px;
  }

  .contact .btn__contact__us {
    padding: 15px 30px;
  }

  .contact footer {
    padding: 0 0 30px;
  }

  .contact footer .footer__inner {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    text-align: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .contact footer .contact__list li:before {
    display: none;
  }

  body .modal .modal-dialog .modal-body input[type="submit"] {
    padding: 16px 25px;
  }
}

@media only screen and (max-width: 767px) {
  html body {
    font-size: 13px;
  }

  .banner .container {
    height: auto;
    padding: 120px 15px;
  }

  .banner .banner__inner {
    position: static;
    -webkit-transform: translate(0);
    -ms-transform: translate(0);
    transform: translate(0);
  }

  .banner .banner__inner h1 {
    max-width: 100%;
  }

  .banner .banner__inner p {
    max-width: 100%;
  }

  .looking .looking__inner {
    margin: -70px auto 45px;
  }

  .looking .looking__inner .looking__item {
    padding: 45px 14px 40px;
  }

  .offer {
    padding: 0 0 50px;
  }

  .offer .offer__waves {
    max-width: 240px;
  }

  .offer .offer__item {
    padding: 25px 20px;
  }

  .people .people__item {
    padding: 110px 15px 30px;
  }

  .people .people__item .people__item__name {
    margin: 0 0 20px;
  }

  .owl-prev,
  .owl-next {
    width: 42px;
    background-position: left 14px center;
  }

  .owl-nav {
    width: 95%;
  }

  .contact {
    padding: 50px 0 220px;
  }

  .contact footer .footer__privacy {
    font-size: 1.25em;
  }

  body .modal .modal-dialog .modal-header {
    padding: 20px 15px;
  }

  body .modal .modal-dialog .modal-body {
    padding: 20px 15px 25px;
  }
}

@media only screen and (max-width: 479px) {
  .banner .banner__inner h1 {
    font-size: 2.25em;
  }

  body .modal .modal-dialog .modal-header .modal-title {
    font-size: 1.25em;
  }

  body .modal .modal-dialog .modal-body input,
  body .modal .modal-dialog .modal-body textarea,
  body .modal .modal-dialog .modal-body select,
  body .modal .modal-dialog .modal-body .nice-select {
    font-size: 1.125em;
  }

  body .modal .modal-dialog .modal-body input[type="submit"] {
    font-size: 1em;
  }

  body .modal .modal-dialog .modal-body .wrap__attachment .upload__file,
  body .modal .modal-dialog .modal-body .wrap__attachment .add__attachment {
    padding: 5px 15px;
    font-size: 0.8125em;
  }
}