* {
	box-sizing: border-box;
	line-height: 1.2;
	font-family: 'Montserrat', sans-serif;
}
html { 
	body {
		margin: 0;
		padding: 0;
		width: 100%;
		height: 100%;
		font-size: 16px;
		overflow-x: hidden;
		background: #ffffff;
		color: rgb(76, 83, 101);
		@media only screen and(max-width: 1680px) {
			font-size: 14px;
		}
		@media only screen and(max-width: 767px) {
			font-size: 13px;
		}
		.container {
			@media only screen and(min-width: 1680px) {
				width: 1630px;
			}
			@media only screen and(min-width: 1440px) {
				width: 1230px;
			}
			@media only screen and(min-width: 1200px) {
				width: 1020px;
			}
			@media only screen and(min-width: 991px) {
				width: 880px;
			}
			@media only screen and(min-width: 768px) {
				width: 100%;
			}
		}
	}
}
body h1, body h2, body h3, body h4, body h5, body h6 {
	line-height: 1.2;
}
.row:after,
.row:before {
	display: inline-block!important;
}

body a{
	cursor: pointer;
	&:hover,
	&:focus {
		text-decoration: none;
	}
}
input[type="submit"] {
	cursor: pointer;
}
button,
input,
textarea,
button:focus {outline: none}

p {font-size: 1em;  }

img {max-width: 100%}
input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}
body.open-menu {
	overflow: hidden;
}
.uppercase {
	text-transform: uppercase;
}

.row {
	display: flex;
		flex-wrap: wrap;
		align-items: flex-start;
		&.no-flex {
			display: block;
		}
	&.flex {
		align-items: initial;
		justify-content: center;
		&.flex-center {
			align-items: center;
		}
		.col-xs-12 {
			display: flex;
			flex-wrap: wrap;
		}
	}
}

/*wrapper*/

body header {
	position: fixed;
	background: transparent;
	padding: 30px 0;
	width: 100%;
	left: 0;
	top: 0;
	z-index: 9;
	border-bottom: 1px solid rgba(255,255,255,0.25);
	transition: 0.3s linear;
	@media only screen and(max-width: 1680px) {
		padding: 22px 0;
	}
	@media only screen and(max-width: 1439px) {
		padding: 15px 0;
	}
	.row {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		justify-content: space-between;
	}
	.wrap__logo {
		display: block;
		position: relative;
		z-index: 1000;
		img {
			transition: 0.2s linear;
			height: 60px;
			
		}
	}

	.wrap__menu {
		text-align: right;
		@media only screen and(max-width: 991px) {
			position: fixed;
			left: -100%;
			top: 0;
			background: rgba(0,0,0, 0.7);
			width: 100%;
			height: 100vh;
			transition: 0.3s ease;
			z-index: 999;
			text-align: center;
			padding-top: 120px;
		}
		&.active {
			left: 0;
		}
		.menu {
			@media only screen and(max-width: 991px) {
				height: calc(100vh - 150px);
				overflow-y: auto;
			}		
			li {
				display: inline-block;
				margin-left: 50px;
				@media only screen and(max-width: 1680px) {
					margin-left: 38px;
				}
				@media only screen and(max-width: 1439px) {
					margin-left: 26px;
				}
				@media only screen and(max-width: 1199px) {
					margin-left: 18px;
				}
				@media only screen and(max-width: 991px) {
					display: block;
					text-align: center;
					margin-left: 0;
				}
				a {
					font-size: 1.125em;
					text-transform: uppercase;
					padding: 10px 0;
					display: block;
					background: transparent;
					color: rgb(255, 255, 255);
					font-weight: bold;
					position: relative;
					@media only screen and(max-width: 991px) {
						font-size: 1.5em;
						padding: 15px 10px;
					}
					&:hover,
					&:focus {
						background: transparent;
					}
					&:before {
						display: block;
						position: absolute;
						content: "";
						background: #ffffff;
						width: 0;
						height: 4px;
						transition: 0.3s linear;
						left: 0;
						bottom: -40px;
						@media only screen and(max-width: 1680px) {
							bottom: -34px;
						}
						@media only screen and(max-width: 1439px) {
							bottom: -26px;
						}
						@media only screen and(max-width: 991px) {
							bottom: 0;
							left: 50%;
							transform: translateX(-50%);
							height: 3px;
						}
					}
				}
				&.active {
					a {
						&:before {
							width: 100%;
							@media only screen and(max-width: 991px) {
								width: 100px;
							}
						}
					}
				}
			}
		}
	}
	.wrap__burger {
		display: none;
		z-index: 1000;
		@media only screen and(max-width: 991px) {
			display: block;
			text-align: right;
		}
	}
	 .burger {
		display: inline-block;
		width: 50px;
		height: 50px;
		padding: 12px 10px;
		position: relative;
		cursor: pointer;
		z-index: 100;
		span {
			width: 100%;
			height: 3px;
			background: #ffffff;
			display: block;
			margin: 4px auto;
			transition: 0.3s ease;
		}
	}
	&.active {
		.burger {
			padding-top: 18px;
			span:first-child {
				-webkit-transform: rotate(45deg);
				-ms-transform: rotate(45deg);
				transform: rotate(45deg);
			  }
			  span:nth-child(2) {
				-webkit-transform: scale(0);
				-ms-transform: scale(0);
				transform: scale(0);
			  }
			  span:last-child {
				-webkit-transform: rotate(-45deg);
				-ms-transform: rotate(-45deg);
				transform: rotate(-45deg);
				margin-top: -13px;
			  }
		}
	}
	&.fixed {
		position: fixed;
		padding: 15px 0;
		background: rgba(0,0,0,0.65);
		box-shadow: 0 8px 16px 0 rgba(37, 52, 75, 0.26);
		.wrap__logo {
			img {
				width: auto;
				height: 50px;
			}
		}
		.wrap__menu {
			.menu {
				li {
					a {
						&:before {
							bottom: -20px;
							@media only screen and(max-width: 1680px) {
								bottom: -22px;
							}
							@media only screen and(max-width: 991px) {
								bottom: 0;
							}
						}
					}
				}
			}
		}
	}
}


.banner {
	.container {
		position: relative;
		height: 100vh;
		@media only screen and(max-width: 767px) {
			height: auto;
			padding: 120px 15px;
		}
	}
	.banner__inner {
		position: absolute;
		left: 15px;
		width: 100%;
		top: calc(50% - 50px);
		transform: translateY(-50%);
		color: white;
		@media only screen and(max-width: 767px) {
			position: static;
			transform: translate(0);

		}
		h1 {
			font-size: 2.8125em;
			font-weight: bold;
			max-width: 50%;
			margin: 0 0 52px;
			padding-bottom: 22px;
			position: relative;
			@media only screen and(max-width: 1680px) {
				max-width: 60%;
				margin-bottom: 45px;
			}
			@media only screen and(max-width: 1439px) {
				max-width: 70%;
			}
			@media only screen and(max-width: 1199px) {
				max-width: 95%;
			}
			@media only screen and(max-width: 767px) {
				max-width: 100%;
			}
			@media only screen and(max-width: 479px) {
				font-size: 2.25em;
			}
			&:after {
				display: inline-block;
				border-radius: 4px;
				background-color: rgb(37, 116, 246);
				position: absolute;
				height: 7px;
				width: 150px;
				content: "";
				left: 0;
				bottom: 0;
				@media only screen and(max-width: 1680px) {
					height: 5px;
				}
			}
		}
		p {
			max-width: 51%;
			font-size: 1.4em;
			@media only screen and(max-width: 1439px) {
				max-width: 70%;
			}
			@media only screen and(max-width: 1199px) {
				max-width: 85%;
			}
			@media only screen and(max-width: 767px) {
				max-width: 100%;
			}
		}
		
	}
}

/*looking*/
.looking {
	background: #e8eaed;
	.looking__inner {
		transform: translateY(-50%);
		border-radius: 15px;
		background-color: rgb(255, 255, 255);
		padding: 18px;
		margin-bottom: -105px;
		@media only screen and(max-width: 1680px) {
			margin-bottom: -95px;
		}
		@media only screen and(max-width: 1199px) {
			margin-bottom: -120px;
		}
		@media only screen and(max-width: 991px) {
			transform: translate(0);
			margin: -120px auto 50px;
			padding: 10px;
		}
		@media only screen and(max-width: 767px) {
			margin: -70px auto 45px;
		}
		.row {
			margin-left: -9px;
			margin-right: -9px;
			.col-xs-12 {
				padding-left: 9px;
				padding-right: 9px;
			}
		}
		.looking__item {
			border-radius: 7px;
			padding: 75px 50px 85px;
			color: white;
			width: 100%;
			background: rgb(37, 116, 246);
			@media only screen and(max-width: 1680px) {
				padding: 55px 36px 50px;
			}
			@media only screen and(max-width: 991px) {
				padding: 65px 35px 60px;
				margin-bottom: 10px;
			}
			@media only screen and(max-width: 767px) {
				padding: 45px 14px 40px;
			}
			&.l-2 {
				background: rgb(76, 83, 101);
				.btn__looking {
					color: rgb(76, 83, 101);
					&:hover,
					&:focus {
						background: rgb(76, 83, 101);
					}
				}
			}
			h3 {
				font-size: 2.25em;
				font-weight: bold;
				margin: 0 0 20px;
			}
			p {
				max-width: 430px;
				margin: 0 auto 37px;
				font-size: 1.25em;
				font-weight: 500;
			}
			.btn__looking {
				display: inline-block;
				background: white;
				border-radius: 35px;
				padding: 21px 51px;
				font-size: 1.125em;
				font-weight: bold;
				color: rgb(37, 116, 246);
				border: 1px solid white;
				transition: 0.3s ease;
				@media only screen and(max-width: 1680px) {
					padding: 18px 40px;
				}
				&:hover,
				&:focus {
					color: white;
					background: rgb(37, 116, 246);
				}
			}
		}
	}
}
.section__title {
	font-size: 2.8125em;
	margin: 0 0 35px;
	font-weight: 900;
	@media only screen and(max-width: 1199px) {
		font-size: 2.5em;
	}
}

/*offer*/
.offer {
	padding: 0 0 128px;
	@media only screen and(max-width: 1680px) {
		padding: 0 0 96px;
	}
	@media only screen and(max-width: 1199px) {
		padding: 0 0 65px;
	}
	@media only screen and(max-width: 767px) {
		padding: 0 0 50px;
	}
	.offer__waves {
		margin: 0 auto 115px;
		max-width: 415px;
		display: block;
		@media only screen and(max-width: 1680px) {
			margin: 0 auto 86px;
			max-width: 365px;
		}
		@media only screen and(max-width: 1439px) {
			margin: 0 auto 60px;
		}
		@media only screen and(max-width: 1199px) {
			max-width: 320px;
		}
		@media only screen and(max-width: 767px) {
			max-width: 240px;
		}
	}
	.offer__item {
		background: white;
		border-radius: 15px;
		padding: 85px 65px 80px 80px;
		margin: 0 0 21px;
		@media only screen and(max-width: 1680px) {
			padding: 60px 48px 60px 60px;
		}
		@media only screen and(max-width: 1439px) {
			padding: 40px 35px 45px 45px;
		}
		@media only screen and(max-width: 1199px) {
			padding: 30px;
		}
		@media only screen and(max-width: 767px) {
			padding: 25px 20px;
		}
		.section__title {
			color: rgb(37, 116, 246);
			margin:  0 0 20px;
			@media only screen and(max-width: 1439px) {
				font-size: 2.5em;
			}
			@media only screen and(max-width: 1199px) {
				font-size: 2em;
				margin: 0 0 15px;
			}
		}
		p {
			font-size: 1.1875em;
			font-weight: bold;
			margin: 0;
		}
	}
}

/*people*/
.people {
	padding: 120px 0 140px;
	@media only screen and(max-width: 1680px) {
		padding: 100px 0 110px;
	}
	@media only screen and(max-width: 1439px) {
		padding: 70px 0 80px;
	}
	.section__title {
		color: #ffffff;
		margin: 0;
	}
	
	.people__item {
		width: 100%;
		background: #ffffff;
		border-radius: 15px;
		padding: 155px 52px 60px;
		position: relative;
		margin-top: 225px;
		@media only screen and(max-width: 1680px) {
			padding: 115px 39px 45px;
			margin-top: 185px;
		}
		@media only screen and(max-width: 1439px) {
			padding: 110px 25px 35px;
			margin-top: 150px;
		}
		@media only screen and(max-width: 1199px) {
			margin-top: 130px;
		}
		@media only screen and(max-width: 767px) {
			padding: 110px 15px 30px;
		}
		.people__item__img {
			position: absolute;
			left: 50%;
			top: 0;
			transform: translate(-50%, -50%);
			width: 225px;
			height: 225px;
			border-radius: 50%;
			border: 7px solid #ffffff;
			@media only screen and(max-width: 1680px) {
				width: 170px;
				height: 170px;
			}
		}
		.people__item__name {
			margin: 0 0 36px;
			font-weight: 900;
			font-size: 1.875em;
			color: rgb(37, 116, 246);
			@media only screen and(max-width: 1439px) {
				margin: 0 0 25px;
				font-size: 1.5em;
			}
			@media only screen and(max-width: 767px) {
				margin: 0 0 20px;
			}
		}
		p {
			text-align: justify;
			margin: 0;
			line-height: 1.5;
			font-weight: 600;
			font-size: 1.125em;
		}
	}
}

/*partners*/
.partners {
	padding: 90px 0 ;
	@media only screen and(max-width: 1680px) {
		padding: 70px 0;
	}
	.container {
		position: relative;
	}
	.partners__title  {
		font-size: 2.25em;
		font-weight: 900;
		margin: 0 0 85px;
		@media only screen and(max-width: 1439px) {
			margin: 0 0 60px;
		}
	}
	.partners__carousel {
		display: flex;
		justify-content: space-between;
		align-items: center;
		.carousel__item {
			border-radius: 10px;
			background-color: rgb(246, 248, 250);
			display: flex;
			align-items: center;
			height: 150px;
			justify-content: center;
			@media only screen and(max-width: 1680px) {
				height: 130px;
			}
			img {
				max-height: 75px;
				width: 100%;
				max-width: 170px;
			}
		}
	}
}
/*OWL*/
.owl-item {
	display: inline-block!important;
	vertical-align: top;
	padding: 0 10px;
}
.owl-loaded.owl-drag {
    overflow: hidden;
}
.owl-prev ,
.owl-next {
    font-size: 0;
    width: 67px;
    height: 48px;
    background: url(../img/arr__carousel.svg) no-repeat left 25px center;
    background-size: 12px 18px;
	cursor: pointer; 
	position: absolute;
	top:0;
	border-radius: 30px;
	border: 1px solid rgb(232, 234, 237);
	transition: 0.3s ease;
	@media only screen and(max-width: 1680px) {
		width: 60px;
		height: 42px;
		background-size: 10px 14px;
		background-position: left 24px center;
	}
	@media only screen and(max-width: 767px) {
		width: 42px;
		background-position: left 14px center;
	}
}
.owl-prev {
    left: 0;
}
.owl-next  {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
    right: 0;
}
.owl-nav {
	position: absolute;
	top: -2px;
	height: 48px;
	width: 450px;
	left: 50%;
	transform: translateX(-50%);
	@media only screen and(max-width: 767px) {
		width: 95%;
	}
}

/*contact*/
.contact {
	position: relative;
	padding-top: 200px;
	padding-bottom: 450px;
	@media only screen and(max-width: 1680px) {
		padding: 160px 0 340px;
	}
	@media only screen and(max-width: 1439px) {
		padding: 120px 0 280px;
	}
	@media only screen and(max-width: 1199px) {
		padding: 100px 0 220px;
	}
	@media only screen and(max-width: 767px) {
		padding: 50px 0 220px;
	}
	.contact__title {
		font-size: 2.25em;
		font-weight: 900;
		margin: 0 0 36px;
		@media only screen and(max-width: 991px) {
			margin: 0 0 25px;
			font-size: 2em;
		}
	}
	p {
		font-size: 1.4em;
		font-weight: 600;
		margin: 0 auto 110px;
		max-width: 80%;
		@media only screen and(max-width: 1439px) {
			max-width: 90%;
			margin:  0 auto 80px;
			font-size: 1.25em;
		}
		@media only screen and(max-width: 991px) {
			max-width: 94%;
			margin: 0 auto 60px;
		}
	}
	.btn__contact__us {
		display: inline-block;
		color: #ffffff;
		border-radius: 35px;
		padding: 21px 51px;
		font-size: 1.125em;
		font-weight: bold;
		background: rgb(37, 116, 246);
		border: 1px solid rgb(37, 116, 246);
		transition: 0.3s ease;
		@media only screen and(max-width: 1680px) {
			padding: 18px 40px;
		}
		@media only screen and(max-width: 991px) {
			padding: 15px 30px;
		}
		&:hover,
		&:focus {
			color: rgb(37, 116, 246);
			background: #ffffff;
		}
	}
	footer {
		position: absolute;
		left: 0;
		width: 100%;
		bottom: 0;
		padding: 0 0 60px;
		color: white;
		@media only screen and(max-width: 1680px) {
			padding: 0 0 50px;
		}
		@media only screen and(max-width: 991px) {
			padding: 0 0 30px;
		}
	
		.footer__inner {
			display: flex;
			align-items: center;
			justify-content: space-between;
			width: 100%;
			@media only screen and(max-width: 991px) {
				justify-content: center;
				flex-wrap: wrap;
				text-align: center;
				flex-direction: column;
			}
		}
		.contact__list {
			list-style-type: none;
			padding: 0;
			display: inline-block;
			margin: 0;
			li {
				display: inline-block;
				font-size: 1.4em;
				font-weight: bold;
				position: relative;
				margin-right: 45px;
				@media only screen and(max-width: 1680px) {
					font-size: 1.25em;
					margin-right: 35px;
					@media only screen and(max-width: 1439px) {
						font-size: 1.125em;
						margin-right: 30px;
					}
					@media only screen and(max-width: 1199px) {
						font-size: 1em;
					}
					@media only screen and(max-width: 991px) {
						display: block;
						width: 100%;
						margin: 0 auto 15px;
						font-size: 1.25em;
					}
				}
				&:before {
					display: block;
					border-radius: 50%;
					position: absolute;
					content: "";
					top: 50%;
					transform: translateY(-50%);
					right: -28px;
					width: 5px;
					height: 5px;
					background: white;
					@media only screen and(max-width: 1680px) {
						right: -23px;
					}
					@media only screen and(max-width: 1439px) {
						width: 4px;
						height: 4px;
						right: -20px;
					}
					@media only screen and(max-width: 991px) {
						display: none;
					}
				}
				&:last-child {
					&:before  {
						display: none;
					}
				}
				a {
					color: inherit;
				}
			}
		}
		.footer__privacy {
			display: inline-block;
			font-size: 1.4em;
			font-weight: bold;
			color: inherit;
			@media only screen and(max-width: 1680px) {
				font-size: 1.25em;
			}
			@media only screen and(max-width: 1439px) {
				font-size: 1.125em;
			}
			@media only screen and(max-width: 1199px) {
				font-size: 1em;
			}
			@media only screen and(max-width: 767px) {
				font-size: 1.25em;
			}
		}
	}
}

/*modal*/

body .modal {
	.modal-dialog {
		width: 95%;
		max-width: 720px;
	
		
		.modal-content {
			background: #2574f6;
			box-shadow: none;
			border-radius: 15px;
		}
		.modal-header {
			border: 0;
			padding: 35px 40px;
			width: 100%;
			position: relative;
			display: flex;
			justify-content: space-between;
			align-items: center;
			@media only screen and(max-width: 1680px) {
				padding: 30px 35px;
			}
			@media only screen and(max-width: 1199px) {
				padding: 20px 25px; 
			}
			@media only screen and(max-width: 767px) {
				padding: 20px 15px;
			}
			.modal-title {
				width: 100%;
				font-size: 1.4em;
				color: white;
				font-weight: bold;
				text-transform: uppercase;
				@media only screen and(max-width: 479px) {
					font-size: 1.25em;
				}
			}
			.close {
				text-shadow: none;
				float: none;
				margin: 0;
				font-size: 3em;
				font-weight: 400;
				line-height: 0.5;
			}
		}
		.modal-body {
			border-radius: 15px;
			background: white;
			padding: 30px 27px 48px;
			@media only screen and(max-width: 1199px) {
				padding: 20px 25px 30px; 
			}
			@media only screen and(max-width: 767px) {
				padding: 20px 15px 25px;
			}
			label {
				display: block;
				width: 100%;
				font-size: 1em;
				margin: 0 0 5px;
				color: rgb(140, 146, 161);
				font-weight: 500;
			}
			input,
			textarea,
			select,
			.nice-select {
				display: block;
				width: 100%;	
				margin: 0 0 22px;	
				border-radius: 10px;	
				background-color: rgb(232, 234, 237);
				border: 0;
				padding: 24px 26px;
				font-size: 1.25em;
				color: rgb(76, 83, 101);
				font-weight: 500;
				@media only screen and(max-width: 1680px) {
					padding: 18px 22px; 
				}
				@media only screen and(max-width: 1199px) {
					padding: 16px 18px; 
					margin-bottom: 18px;
				}
				@media only screen and(max-width: 479px) {
					font-size: 1.125em;
				}
				&::-webkit-input-placeholder {
					color: rgb(76, 83, 101);
				}
			}
			
			textarea {
				min-height: 150px;
				resize: vertical;
				margin: 0 0 32px;
			}
			.nice-select {
				height: auto;
				line-height: inherit;
				&:after {
					background: url(../img/arr__carousel.svg) no-repeat center;
					background-size: 10px;
					margin: 0;
					top: 50%;
					transform: translateY(-50%) rotate(-90deg);
					right: 24px;
					width: 18px;
					height: 18px;
					border: 0;
					transform-origin: 50%;
				}
				.list {
					width: 100%;
					.option {
						padding: 10px 24px;
					}
				}
			}
			input[type="submit"] {
				display: inline-block;
				width: auto;
				color: #ffffff;
				border-radius: 35px;
				padding: 21px 51px;
				font-size: 1.125em;
				font-weight: bold;
				background: rgb(37, 116, 246);
				border: 1px solid rgb(37, 116, 246);
				transition: 0.3s ease;
				text-transform: uppercase;
				margin: 44px auto 0;
				@media only screen and(max-width: 1199px) {
					margin: 30px 0 0;
				}
				@media only screen and(max-width: 991px) {
					padding: 16px 25px;
				}
				@media only screen and(max-width: 479px) {
					font-size: 1em;
				}
				&:hover,
				&:focus {
					color: rgb(37, 116, 246);
					background: #ffffff;
				}				
			}
			input[type="file"] {
				display: none;
			}
			.wrap__attachment {
				label {
					margin: 0;
					display: flex;
					width: 100%;
					background-color: rgb(232, 234, 237);
					border-radius: 35px;
					justify-content: space-between;
				}
				.add__attachment {
					border: 1px solid rgb(223, 224, 227);
					background: white;
				}
				.upload__file,
				.add__attachment {
					display: inline-flex;
					height: 52px;
					border-radius: 35px;
					font-size: 0.875em;
					color: rgb(81, 81, 81);
					font-weight: bold;
					align-items: center;
					cursor: pointer;
					padding: 5px 24px;
					@media only screen and(max-width: 479px) {
						padding: 5px 15px;
						font-size: 0.8125em;
					}
				}
			}
		}
	}
}
